.header {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.menu {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
}

.menu li a {
    padding: 10px 5px;
    margin-left: 15px;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 20px;
}